Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2018-07, with the labels that each got.

#1670 #1669 sp_Blitz instance stacking wording
  sp_Blitz.sql
Labels: bug, sp_Blitz

#1677 Issue1662 choose xp
  sp_DatabaseRestore.sql
Labels: enhancement, sp_DatabaseRestore

#1684 #1680 sp_BlitzFirst skip server info
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#1686 #1685 sp_BlitzIndex split heap warnings
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex
