Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2018-11, with the labels that each got.

#1836 #1835 sp_BlitzFirst startup times in Azure
  sp_BlitzFirst.sql
Labels: Azure SQL DB, bug, sp_BlitzFirst

#1839 #1837 sp_Blitz add Managed Instance info
  Documentation/sp_Blitz Checks by Priority.md
  sp_Blitz.sql
Labels: Azure SQL DB, enhancement, sp_Blitz

#1848 Add check constraint info
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#1855 Row goals in 2014 XML
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#1856 Ignore SQL Monitor
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1810 Power BI Report Pages Update For Phone Layout
  Power BI/FirstResponderKit Example for Training.pbix
  Power BI/FirstResponderKit.pbit
Labels: PowerBI, enhancement

#1857 Re-ignore CLR waits
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#1860 Azure helpfulness
  sp_BlitzLock.sql
  sp_BlitzQueryStore.sql
Labels: enhancement, sp_BlitzLock, sp_BlitzQueryStore

#1864 Naming the function
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache
