Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2018-10, with the labels that each got.

#1767 Dupe check fix
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#1776 Add parameter for the usual DB owner
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1780 Fix length
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#1791 1790 Blitz blocking - added read uncommitted to sp_MSforeachdb calls
  sp_Blitz.sql
Labels: bug, sp_Blitz

#1793 #1785 sp_Blitz duplicate checkid
  Documentation/sp_Blitz Checks by Priority.md
  sp_Blitz.sql
Labels: bug, sp_Blitz

#1794 #1775 sp_Blitz skip growth checks on read only dbs
  sp_Blitz.sql
Labels: sp_Blitz

#1795 #1789 sp_BlitzFirst delta views for multiple servers
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#1797 #1796 sp_Blitz Managed Instances support
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1799 #1798 Filter out Managed Instances waits
  sp_Blitz.sql
  sp_BlitzFirst.sql
Labels: enhancement, sp_Blitz, sp_BlitzFirst

#1802 #1801 sp_Blitz skip alerts on RDS
  sp_Blitz.sql
Labels: bug, sp_Blitz

#1806 Issue 1805
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#1812 Fix some dumb things
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#1807 Issue 1804
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#1819 Fixes some cursor stuff
  sp_BlitzCache.sql
  sp_BlitzQueryStore.sql
Labels: enhancement, sp_BlitzCache, sp_BlitzQueryStore

#1820 Fix all sort errors
  sp_BlitzCache.sql
  sp_BlitzQueryStore.sql
Labels: bug, sp_BlitzCache

#1814 sp_Blitz - SQL 2012 SP3 is unsupported
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1815 1808 sp_BlitzFirst Azure SQL DB compatibility
  Documentation/sp_BlitzFirst Checks by Priority.md
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#1821 Create sp_ineachdb.sql
  sp_ineachdb.sql
Labels: enhancement

#1825 Fix typo in sp_ineachdb.sql
  sp_ineachdb.sql
Labels: bug, sp_ineachdb

#1829 1773 sp_BlitzWho: add output to table
  sp_BlitzWho.sql
Labels: enhancement, sp_BlitzWho
