Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2018-05, with the labels that each got.

#1559 Issue 1526
  sp_BlitzCache.sql
  sp_BlitzQueryStore.sql
Labels: enhancement, sp_BlitzCache, sp_BlitzQueryStore

#1561 Increase column length
  sp_BlitzCache.sql
  sp_BlitzQueryStore.sql
Labels: bug, sp_BlitzCache, sp_BlitzQueryStore

#1564 SET options etc
  sp_BlitzCache.sql
  sp_BlitzQueryStore.sql
Labels: enhancement, sp_BlitzCache, sp_BlitzQueryStore

#1565 sp_Blitz AMD processor support
  sp_Blitz.sql
Labels: bug, sp_Blitz

#1572 Add priority to the output of sp_BlitzLock
  sp_BlitzLock.sql
Labels: enhancement, sp_BlitzLock

#1573 Filter out heaps from index deadlock results
  sp_BlitzLock.sql
Labels: bug, sp_BlitzLock

#1575 Bad mathecine
  sp_BlitzCache.sql
  sp_BlitzQueryStore.sql
Labels: bug, sp_BlitzCache

#1578 Add info for statements
  sp_BlitzCache.sql
  sp_BlitzQueryStore.sql
Labels: enhancement, sp_BlitzCache, sp_BlitzQueryStore

#1581 1580 sp_BlitzFirst memory grants
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#1585 #1583 sp_Blitz ignore dbcc useroptions
  sp_Blitz.sql
Labels: bug, sp_Blitz

#1558 Add SQL Server Version script
  SqlServerVersions.sql
Labels: enhancement

#1586 Fix hard coded value #1571
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#1587 #1579 Power BI Desktop updates
  Power BI/FirstResponderKit Example for Training.pbix
  Power BI/FirstResponderKit.pbit
  Power BI/FirstResponderKit.pbix
Labels: PowerBI, enhancement

#1589 #1588 sp_BlitzIndex clearer aggression
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#1593 #1582 sp_Blitz adding DISTINCT
  sp_Blitz.sql
Labels: bug, sp_Blitz

#1597 Add full deadlock graph to BlitzLock results
  sp_BlitzLock.sql
Labels: enhancement, sp_BlitzLock
