Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2018-04, with the labels that each got.

#1533 Add free proc cache column
  sp_BlitzWho.sql
Labels: enhancement, sp_BlitzWho

#1534 Issue 1522 1525
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#1535 Fixes wait time exaggeration
  sp_BlitzWho.sql
Labels: bug, sp_BlitzWho

#1536 Fixes #1532
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#1538 #1537 sp_Blitz CMEMTHREAD
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1546 Issue 1543
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#1548 BQS parity with BC
  sp_BlitzCache.sql
  sp_BlitzQueryStore.sql
Labels: enhancement, sp_BlitzQueryStore

#1549 Add Joe's nonsense
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1553 Fix session name list
  sp_Blitz.sql
Labels: bug, sp_Blitz
