Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2018-03, with the labels that each got.

#1460 Add checks for implicit transactions
  Documentation/sp_Blitz Checks by Priority.md
  Documentation/sp_BlitzFirst Checks by Priority.md
  sp_Blitz.sql
  sp_BlitzFirst.sql
  sp_BlitzWho.sql
Labels: enhancement, sp_Blitz, sp_BlitzFirst, sp_BlitzWho

#1440 Issue 1181 single kill drop
  sp_DatabaseRestore.sql
Labels: enhancement, sp_DatabaseRestore

#1458 add check for fast forward cursors
  sp_BlitzCache.sql
  sp_BlitzQueryStore.sql
Labels: enhancement, sp_BlitzCache, sp_BlitzQueryStore

#1461 Renamed AlwaysOn to Availability Groups
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1462 Added Cumulative Update value for CheckID 85
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1470 Fix sp_BlitzLock reports only 1 total deadlock for each object
  sp_BlitzLock.sql
Labels: bug, sp_BlitzLock

#1477 #1466 sp_Blitz skip checkdb
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1473 sp_Blitz: Fix "thresholf" typo within "Bad Trace Flags enabled" check.
  sp_Blitz.sql
Labels: bug, sp_Blitz

#1464 Update sp_DatabaseRestore for issue #1436
  sp_DatabaseRestore.sql
Labels: enhancement, sp_DatabaseRestore

#1485 #1481 sp_Blitz Managed Instance compatibility
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1486 #1482 point wait stats to SQLskills
  sp_Blitz.sql
  sp_BlitzFirst.sql
Labels: enhancement, sp_Blitz, sp_BlitzFirst

#1487 #1465 implicit trans check on 2008
  sp_Blitz.sql
Labels: bug, sp_Blitz

#1488 Adds CPU speed to power mode check
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1479 Add ability to move files of type 'S'
  sp_DatabaseRestore.sql
Labels: enhancement, sp_DatabaseRestore

#1498 Enhancement #1497
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1499 Add new parallel columns
  sp_BlitzLock.sql
Labels: enhancement, sp_BlitzLock

#1502 Ignore DBCC AUTOPILOT
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1503 Issue 1489
  Documentation/sp_BlitzCache Checks by Priority.md
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#1506 issue1505_js0505
  sp_BlitzCache.sql
  sp_BlitzQueryStore.sql
Labels: enhancement, sp_BlitzCache, sp_BlitzQueryStore

#1507 Fixes #1456
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1508 Adds high priority reboot check
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1510 Increase column length
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#1512 Add version dependency
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#1514 NVARCHAR-ification
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#1515 Closes #1513
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#1517 Unicodes
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache
