Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2018-08, with the labels that each got.

#1701 Strings are hard
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#1696 Fix Arithmetic Overflow from old system view
  sp_Blitz.sql
Labels: bug, sp_Blitz

#1700 Add sp_Blitz's parameter @OutputType to sp_BlitzIndex and sp_BlitzFirst BIS
  sp_BlitzFirst.sql
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzFirst, sp_BlitzIndex

#1711 Use temp table waits
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#1726 sp_Blitz typo in MSDB table check
  sp_Blitz.sql
Labels: bug, sp_Blitz

#1728 Actually use the ignore_database field.
  Install-All-Scripts.sql
  sp_AllNightLog.sql
Labels: enhancement, sp_AllNightLog

#1725 This is a triumph
  sp_BlitzCache.sql
  sp_BlitzQueryStore.sql
Labels: enhancement, sp_BlitzCache

#1722 sp_BlitzWho now returns memory grant info for SQL 2017
  sp_BlitzWho.sql
Labels: enhancement, sp_BlitzWho

#1733 Yay
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#1736 #1735 sp_BlitzFirst skip short poisons
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#1734 Weights should be correct now
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache
