Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2018-06, with the labels that each got.

#1603 #1602 new AG waits
  sp_Blitz.sql
  sp_BlitzFirst.sql
Labels: enhancement, sp_Blitz, sp_BlitzFirst

#1594 Fixed SUBSTRING on sp_BlitzCache Warnings
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#1606 sp_Blitz Arithmetic overflow line 59
  sp_Blitz.sql
Labels: bug, sp_Blitz

#1613 Remove equal signs from SET commands
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#1611 Added graceful exit for unsupported SQL versions.
  sp_BlitzInMemoryOLTP.sql
Labels: bug, sp_BlitzInMemoryOLTP

#1614 Fix ANSI SET options
  sp_BlitzQueryStore.sql
Labels: bug, sp_BlitzQueryStore

#1621 Get Power Plan value from proper location in registry
  sp_Blitz.sql
Labels: bug, sp_Blitz

#1625 Fix XML > string error
  sp_BlitzCache.sql
  sp_BlitzQueryStore.sql
Labels: bug, sp_BlitzCache, sp_BlitzQueryStore

#1628 Correct EngineEdition check for Azure SQL MI
  sp_BlitzQueryStore.sql
Labels: bug, sp_BlitzQueryStore

#1637 issue 1623 #fix
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#1636 Add userstore token
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1634 Add more columns from ops
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#1644 1643 sp_Blitz Amazon RDS compatibility
  sp_Blitz.sql
Labels: sp_Blitz

#1642 Issue 1633 redux
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1651 Add executions to join
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#1655 Issue 1653 sp_DatabaseRestore xp_dirtree
  sp_DatabaseRestore.sql
Labels: enhancement, sp_DatabaseRestore

#1656 Issue 1645
  sp_DatabaseRestore.sql
Labels: enhancement, sp_DatabaseRestore

#1660 Issue 1657 Use CommandExecute not EXEC for @ExistingDBAction parameter
  sp_DatabaseRestore.sql
Labels: enhancement, sp_DatabaseRestore

#1659 Issue 1610
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#1665 #1664 sp_Blitz ignore AllNightLog recompiles
  sp_Blitz.sql
Labels: bug, sp_Blitz

#1667 Adds read uncommitted
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache
