Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2018-09, with the labels that each got.

#1748 Divide by Zero Error Fix - BlitzCache
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#1751 Make Mode 0 more useful
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#1755 sp_Blitz - new check for alerts that NEVER send out their event details via email/pager
  Documentation/sp_Blitz Checks by Priority.md
  sp_Blitz.sql
Labels: enhancement, sp_Blitz
