Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2018-02, with the labels that each got.

#1418 Issue 1397
  sp_BlitzCache.sql
  sp_BlitzQueryStore.sql
Labels: enhancement, sp_BlitzCache, sp_BlitzQueryStore

#1420 Fixes #1416
  sp_Blitz.sql
Labels: bug, sp_Blitz

#1422 Fix for index spool stuff
  sp_BlitzCache.sql
  sp_BlitzQueryStore.sql
Labels: bug, sp_BlitzCache, sp_BlitzQueryStore

#1433 Check for database with Unknown owners
  CONTRIBUTING.md
  Documentation/sp_Blitz Checks by Priority.md
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1448 #1447 sp_Blitz add container info
  Documentation/sp_Blitz Checks by Priority.md
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1444 #1424 sp_Blitz - catch another dangerous DLL name
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1443 #1429 sp_BlitzFirst gets stuck waiting
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#1442 #1441 sp_Blitz update unsupported builds list
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#1434 sp_BlitzFirst - BlitzCache Ouput Table Checks - Fix #1412
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#1453 Widen table definition
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#1450 Issue 1445
  sp_BlitzCache.sql
  sp_BlitzQueryStore.sql
Labels: enhancement, sp_BlitzCache, sp_BlitzQueryStore

#1451 Issue 1438
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#1454 Add time zone to inserts
  sp_BlitzBackups.sql
Labels: enhancement, sp_BlitzBackups
