Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2018-12, with the labels that each got.

#1866 PERFORMANCE ENHANCING
  sp_BlitzLock.sql
Labels: enhancement, sp_BlitzLock

#1867 Add Agent Job Info
  sp_BlitzLock.sql
Labels: enhancement, sp_BlitzLock

#1873 Fixies
  sp_BlitzCache.sql
  sp_BlitzQueryStore.sql
Labels: bug, sp_BlitzCache, sp_BlitzQueryStore

#1881 Add check for filtered indexes missing filter definition columns
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#1884 Fix false positive on NC PKs
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#1886 Issue 1185 move file tweak
  sp_DatabaseRestore.sql
Labels: enhancement, sp_DatabaseRestore

#1888 Add server and uptime info to results
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#1889 Ignore XE wait
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#1890 Add collation modifiers
  sp_BlitzLock.sql
Labels: bug, sp_BlitzLock

#1892 TWOCIFER
  sp_BlitzQueryStore.sql
Labels: enhancement, sp_BlitzQueryStore

#1882 Update Help Code Branching
  sp_foreachdb.sql
Labels: bug, sp_ineachdb
