Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2019-02, with the labels that each got.

#1941 sp_BlitzFirst - Decimals - Fixes #1940
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#1951 1950 sp blitz lock azure sql db hyperscale
  sp_BlitzLock.sql
Labels: Azure SQL DB, bug

#1955 #1947 sp_BlitzIndex stats for current db
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#1954 #1952 sp_BlitzIndex Fix INSERT query column order
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#1942 sp_BlitzIndex - CREATE INDEX script modifications - Fixes #1938
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#1949 Add Version Checking for all SP
  sp_AllNightLog.sql
  sp_AllNightLog_Setup.sql
  sp_Blitz.sql
  sp_BlitzBackups.sql
  sp_BlitzCache.sql
  sp_BlitzFirst.sql
  sp_BlitzInMemoryOLTP.sql
  sp_BlitzIndex.sql
  sp_BlitzLock.sql
  sp_BlitzQueryStore.sql
  sp_BlitzWho.sql
  sp_DatabaseRestore.sql
  sp_foreachdb.sql
  sp_ineachdb.sql
Labels: enhancement

#1953 Update sp_BlitzCache.sql
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#1963 sp_BlitzCache additional plural checks for @SortOrder
  sp_BlitzCache.sql
Labels: enhancement

#1969 #1967 sp_Blitz updating supported versions
  sp_Blitz.sql
Labels: bug, sp_Blitz

#1974 #1973 sp_BlitzIndex truncation error
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#1975 #1971 add POOL_LOG_RATE_GOVERNOR as poison
  sp_Blitz.sql
  sp_BlitzFirst.sql
Labels: Azure SQL DB, sp_Blitz, sp_BlitzFirst

#1976 #1966 fix sp_Blitz check IDs
  Documentation/sp_Blitz Checks by Priority.md
Labels: bug, sp_Blitz

#1984 #1983 sp_BlitzCache sort order
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#1987 Issue #1986 @StopAt Ignored.
  sp_DatabaseRestore.sql
Labels: bug, sp_DatabaseRestore
