Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2019-04, with the labels that each got.

#2025 #2024 sp_BlitzQueryStore s.is_cursor error
  sp_BlitzQueryStore.sql
Labels: bug, sp_BlitzQueryStore

#2028 #1994 sp_Blitz version checking
  Documentation/sp_Blitz Checks by Priority.md
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2029 #1944 sp_BlitzIndex ignore databases
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#2031 #2026 sp_BlitzCache show multiple plan count
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2034 #2019 sp_BlitzCache air_quote_actual plans
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2035 Add END in the right spot for IF @Help = 1
  sp_ineachdb.sql
Labels: bug, sp_ineachdb

#2038 #2037 sp_BlitzLock support for AWS RDS
  sp_BlitzLock.sql
Labels: bug, sp_BlitzLock
