Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2019-03, with the labels that each got.

#1989 #1988 sp_BlitzIndex INSERT column order bug
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2001 #2000 sp_BlitzCache add SearchSlowly parameter
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#1999 #1998 sp_DatabaseRestore
  sp_DatabaseRestore.sql
Labels: bug, sp_DatabaseRestore

#2002 #1991 sp_BlitzIndex simplify missing indexes
  sp_BlitzIndex.sql
Labels: sp_BlitzIndex

#2011 #2010 sp_Blitz paused online index operations
  Documentation/sp_Blitz Checks by Priority.md
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2016 #2015 sp_BlitzCache sorting in Azure SQL DB
  sp_BlitzCache.sql
Labels: Azure SQL DB, bug, sp_BlitzCache
