Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2019-08, with the labels that each got.

#2073 #2072 - sp_BlitzFirst, sp_BlitzCache - Exclude Read intent secondary databases
  sp_BlitzCache.sql
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzCache, sp_BlitzFirst

#2071 #2067 Updating directory "/" fixing to work with URLs
  sp_DatabaseRestore.sql
Labels: enhancement, sp_DatabaseRestore

#2085 #2076 sp_BlitzIndex columnstore to table
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2086 @2060 sp_BlitzFirst 2TB RAM
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2087 #2053 sp_BlitzIndex ignoring databases
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2088 #2022 sp_BlitzCache disabling air_quote_actuals
  sp_BlitzCache.sql
Labels: Azure SQL DB, bug, sp_BlitzCache

#2089 #2044 sp_Blitz new power mode
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2091 #2062 sp_BlitzFirst false alarm on index reorgs
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2092 #2052 sp_BlitzCache prioritization
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2100 #2097 sp_DatabaseRestore sysname caps
  sp_DatabaseRestore.sql
Labels: bug, sp_DatabaseRestore
