Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2019-09, with the labels that each got.

#2101 Issue 2063 selects with writes
  Documentation/sp_BlitzCache Checks by Priority.md
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2103 Fix compression query perf
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#2102 Issue 2051 query hash sort
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2112 #2111 sp_BlitzCache missing union all
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2115 Remove stray semicolon
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2116 Fix roll up where clause
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2117 #2096 sp_BlitzFirst BST compatibility
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2118 2109_sp_BlitzCache_AirQuoteActuals
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2125 #2124 Fix BlitzQueryStore Edition Check Comparison
  sp_BlitzQueryStore.sql
Labels: bug, sp_BlitzQueryStore

#2129 Issue 2127/fvanderhaegen
  sp_DatabaseRestore.sql
Labels: enhancement, sp_BlitzIndex

#2126 Fix Cannot resolve collation conflict between "Language_A" and "Language_B" in add operator occurring in ORDER BY statement column 3.
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2131 #2130 sp_Blitz blocked due to DMV bug
  sp_Blitz.sql
Labels: bug, sp_BlitzIndex

#2133 Fix Cannot resolve collation conflict between "Language_A" and "Language_B" in add operator occurring in ORDER BY statement column 3.
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex
