Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2020-07, with the labels that each got.

#2446 Fix sp_ineachdb description text
  sp_ineachdb.sql
Labels: bug, sp_ineachdb

#2277 2180 : restore database from multiple backup paths - testing needed
  sp_DatabaseRestore.sql
Labels: enhancement, sp_DatabaseRestore

#2448 #2134 sp_BlitzFirst check for UserStore_TokenPerm leak
  Documentation/sp_BlitzFirst_Checks_by_Priority.md
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#2450 #296 sp_BlitzIndex add a little Hekaton support
  README.md
  sp_BlitzIndex.sql
Labels: sp_BlitzIndex

#2449 #2447 sp_BlitzIndex Removed code that creates drop index for disabled index.
  sp_BlitzIndex.sql
Labels: sp_BlitzIndex

#2451 #2447 sp_BlitzIndex typos
  sp_BlitzIndex.sql
Labels: sp_BlitzIndex

#2456 2455 sp database restore install bug
  Install-All-Scripts.sql
  sp_DatabaseRestore.sql
Labels: bug, sp_DatabaseRestore

#2460 #2176 sp_BlitzIndex skip blocking
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2461 #2458 add installation instructions
  README.md
Labels: enhancement

#2464 Re-adding @ExpertMode check to ensure it returns wait stats
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2475 Update sp_AllNightLog_Setup.sql
  sp_AllNightLog_Setup.sql
Labels: bug, sp_AllNightLog

#2477 #2476 add sp_Blitz documentation
  README.md
Labels: enhancement, sp_Blitz

#2483 #2482 - Move LOWER(@SortOrder) earlier in the proc
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2484 #2465 Do not accrue wait time for sleeping spids
  sp_BlitzWho.sql
Labels: bug, sp_BlitzWho

#2459 2452 Fixes sp_BlitzLock object names with periods
  sp_BlitzLock.sql
Labels: bug, sp_BlitzLock

#2494 #2492 sp_Blitz reprioritize
  Documentation/sp_Blitz_Checks_by_Priority.md
  sp_Blitz.sql
Labels: bug, sp_Blitz

#2495 #2487 sp_BlitzCache USERSTORE_TOKENPERM
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2497 2480 sp_BlitzCache single use plan math
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache
