Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2020-10, with the labels that each got.

#2599 Update sp_DatabaseRestore.sql
  sp_DatabaseRestore.sql
Labels: bug, sp_DatabaseRestore

#2596 #2573 add new 2019 database scoped configurations
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2611 Add filtering based on sort order
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2614 2584 sp blitz index no compressed rowgroups
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2615 #2613 sp_BlitzLock ExportToExcel param
  sp_BlitzLock.sql
Labels: enhancement, sp_BlitzLock

#2618 Add database prefixes in to DMV queries
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2620 Re-based version of modification counter addition
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#2622 #2616 sp_BlitzIndex database prefixes
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2605 Feature/sort option sp blitz who
  sp_BlitzWho.sql
Labels: enhancement, sp_BlitzWho

#2623 #2603 sp_BlitzWho add more sort options
  sp_BlitzWho.sql
Labels: enhancement, sp_BlitzWho

#2624 #2619 sp_BlitzIndex add SortOrder param
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#2625 #2573 sp_Blitz documentation
  Documentation/sp_Blitz_Checks_by_Priority.md
Labels: sp_Blitz

#2633 Update sp_BlitzCache.sql
  sp_BlitzCache.sql
Labels: sp_BlitzCache

#2630 Debug evaluation of @database_list parameter #2621
  sp_ineachdb.sql
Labels: bug, sp_ineachdb

#2634 #2631 sp_BlitzFirst wait exclusions
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2635 #2185 sp_BlitzIndex missing index plans
  sp_BlitzIndex.sql
Labels: enhancement

#2637 Re-fix parallel deadlock stuff
  sp_BlitzLock.sql
Labels: enhancement, sp_BlitzLock

#2639 Adding Parameter Details from Cached and Live Query Plans
  sp_BlitzWho.sql
Labels: enhancement, sp_BlitzWho

#2641 #2600 fixed @StopAt parameter for full backups
  sp_DatabaseRestore.sql
Labels: enhancement, sp_DatabaseRestore

#2643 Update sp_BlitzIndex.sql
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2647 #2646 sp_BlitzCache unused grant sort
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2649 Update sp_BlitzWho.sql
  sp_BlitzWho.sql
Labels: bug, sp_BlitzWho
