Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2020-03, with the labels that each got.

#2323 #2321 sp_BlitzWho milliseconds
  sp_BlitzWho.sql
Labels: bug, sp_BlitzWho

#2319 Issue 2134
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2324 sp_BlitzCache documentation update
  Documentation/sp_BlitzCache_Checks_by_Priority.md
Labels: enhancement, sp_BlitzCache

#2327 #2320 sp_BlitzFirst handle inaccurate server names
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#2329 Adding forwarded fetches to @Mode = 2 output. Closes #2314.
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#2330 #2314 sp_BlitzIndex add forwarded fetches to @Mode = 2
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2331 #2134 sp_Blitz USERSTORE_TOKENPERM check
  Documentation/sp_Blitz_Checks_by_Priority.md
  sp_Blitz.sql
Labels: enhancement, sp_Blitz
