Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2020-01, with the labels that each got.

#2239 #2238 sp_BlitzWho add max grant hint
  sp_BlitzWho.sql
Labels: sp_BlitzWho

#2232 #2212 sp_BlitzCache matching warning names
  Documentation/sp_BlitzCache Checks by Priority.md
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2245 #2244 sp_BlitzFirst sample times
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2247 #2246 sp_BlitzFirst added AG Perfmon counters
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#2250 #2248 sp_BlitzFirst tempdb forwarded fetches
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#2251 #2249 sp_Blitz multiple plans threshold
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2254 #2253 sp_BlitzCache query needs recompile
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2257 #2255 sp_BlitzIndex ignoring BringThePain
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2258 #2252 sp_BlitzCache avoid plan cache pollution
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2259 sp_BlitzLock: add output tables
  sp_BlitzLock.sql
Labels: enhancement, sp_BlitzLock

#2260 #2218 sp_BlitzFirst typo
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2272 Update sp_ineachdb.sql
  sp_ineachdb.sql
Labels: enhancement, sp_ineachdb
