Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2020-05, with the labels that each got.

#2361 #2352 new rule for master files
  Documentation/sp_Blitz_Checks_by_Priority.md
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2362 #2350 sp_BlitzFirst reduce false positives for CHECKDB
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2343 Add OutputType = 'Top10' branch
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#2363 #2342 sp_BlitzFirst Top10
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#2364 #2347 sp_BlitzCache link for no plans
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2365 #2346 sp_BlitzCache add column
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2366 #2353 sp_BlitzCache Managed Instances
  sp_BlitzCache.sql
Labels: Azure SQL DB, sp_BlitzCache

#2367 #2357 sp_BlitzIndex fully qualify drop/create scripts
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#2368 #2340 sp_BlitzIndex add URL for serial forcers
  sp_BlitzIndex.sql
Labels: sp_BlitzIndex

#2369 #2345 sp_BlitzCache faster memory analysis
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2374 #2372 sp_BlitzCache 2008 compat
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2379 #2378 sp_Blitz unprintable characters
  sp_Blitz.sql
Labels: bug, sp_Blitz

#2380 #2372 sp_BlitzCache declares
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2384 #2383 sp_BlitzCache throwing error
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2381 Fix sp_BlitzLock heap identification
  sp_BlitzCache.sql
  sp_BlitzLock.sql
Labels: enhancement, sp_BlitzCache, sp_BlitzLock

#2385 Add LastCompletionTime
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2388 #2386 sp_BlitzFirst new check for stats
  Documentation/sp_BlitzFirst_Checks_by_Priority.md
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#2391 2390_sp_BlitzCache_warnings_truncated
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2397 #2396 sp_BlitzCache isn't saving QueryPlanHash
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2399 #2398 sp_BlitzCache error truncation
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2400 2398 take two
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2402 #2401 sp_BlitzFirst get plans for cardinality misestimations
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzCache
