Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2020-06, with the labels that each got.

#2403 #2377 sp_BlitzCache new LastCompletionTime
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2404 #2386 sp_BlitzFirst stats update warning
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#2422 #2421 sp_BlitzWho longer table names
  sp_BlitzWho.sql
Labels: bug, sp_BlitzWho

#2424 Removes any output when @OutputType = 'NONE' for sp_BlitzFirst
  sp_BlitzFirst.sql
Labels: sp_BlitzFirst

#2427 #2426 sp_Blitz exclude NAV license table
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2430 Update Merge Blitz.ps1
  Documentation/Development/Merge Blitz.ps1
Labels: enhancement

#2431 #2429 add SQLServerVersions to build scripts
  Documentation/Development/Merge Blitz.ps1
Labels: enhancement

#2434 #2433 sp_BlitzFirst remove PLE warning
  Documentation/sp_BlitzFirst_Checks_by_Priority.md
  sp_BlitzFirst.sql
Labels: sp_BlitzFirst

#2437 Removing incorrect logic from @Bad_Estimate check. Issue #2420
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2441 #2440 sp_BlitzLock case sensitivity
  sp_BlitzLock.sql
Labels: bug, sp_BlitzLock

#2443 #2425 sp_BlitzCache Arithmetic Overflow
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2444 #2439 sp_BlitzFirst skip stats check
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst
