Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2020-11, with the labels that each got.

#2656 #2650 sp_BlitzIndex spatial
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2654 Added check for backups to NUL, checkID is 256
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2657 #2640 sp_Blitz log backups to nul
  Documentation/sp_Blitz_Checks_by_Priority.md
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2658 #2651 sp_BlitzIndex SortDirection
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#2665 #2660 sp_BlitzFirst Details truncation
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2666 #2652 sp_BlitzWho ordering ten day queries
  sp_BlitzWho.sql
Labels: bug, sp_BlitzWho

#2669 #2664 sp_Blitz service account filtering
  sp_Blitz.sql
Labels: bug, sp_Blitz

#2672 #2662 sp_BlitzIndex reprioritize findings
  Documentation/sp_BlitzIndex_Checks_by_Priority.md
  README.md
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#2675 Fix multiple plan query
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2680 4k limit exceeded
  sp_BlitzCache.sql
Labels: bug, sp_BlitzIndex

#2687 having mercy
  sp_BlitzLock.sql
Labels: bug, sp_BlitzLock

#2688 Stinkin batches
  sp_BlitzLock.sql
Labels: bug, sp_BlitzLock

#2689 sp_BlitzLock - TimeZone convertion
  sp_BlitzLock.sql
Labels: sp_BlitzLock

#2695 sp_BlitzIndex: exclude IgnoreDatabases when counting # of databases
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2699 #2697 sp_BlitzFirst ignore FT_IFTSCHC_MUTEX
  sp_BlitzFirst.sql
Labels: sp_BlitzFirst

#2703 #2700 sp_DatabaseRestore added CommandExecute
  sp_DatabaseRestore.sql
Labels: enhancement, sp_DatabaseRestore
