Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2020-09, with the labels that each got.

#2561 #2560 version number duplicates
  SqlServerVersions.sql
Labels: bug

#2555 sp_BlitzFirst - CheckID 44 gets blocked when an index operation is in progress
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2562 #2552 sp_BlitzIndex index name cap at 128
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2563 Lock escalation DISABLE
  sp_BlitzIndex.sql
Labels: sp_BlitzIndex

#2566 Sp blitz disk size
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2568 #2557 sp_Blitz drive space reporting
  sp_Blitz.sql
Labels: bug, sp_Blitz

#2570 sp_Blitz-Drive-Space v2.1
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2575 Add extended properties to SqlServerVersions table
  SqlServerVersions.sql
Labels: enhancement

#2582 #2581 sp_Blitz check for too many VSS snaps
  Documentation/sp_Blitz_Checks_by_Priority.md
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2583 #2581 sp_Blitz too many snaps
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2586 #2584 sp_BlitzIndex columnstore
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#2588 #2584 sp_BlitzIndex columnstore visualization fixes
  sp_BlitzIndex.sql
Labels: sp_BlitzIndex
