Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2020-02, with the labels that each got.

#2288 #2265 sp_Blitz data size check
  Documentation/sp_Blitz_Checks_by_Priority.md
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2278 Issue 2234
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2279 Issue 2266
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#2283 Issue 2219
  sp_BlitzLock.sql
Labels: enhancement, sp_BlitzLock

#2291 Issue 2290: Select with writes bug
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2289 Issue 2280: Skip 0 read, 0 write indexes
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#2294 #2293 sp_Blitz 2014 support builds
  sp_Blitz.sql
Labels: sp_Blitz

#2297 #2280 sp_BlitzIndex fixing inactive filter
  sp_BlitzIndex.sql
Labels: sp_BlitzIndex

#2298 @2285 sp_BlitzIndex fixing datatype sizes
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2299 #2292 sp_BlitzIndex remove IX prefix
  sp_BlitzIndex.sql
Labels: sp_BlitzIndex

#2300 @2268 sp_BlitzIndex giant last values
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2308 Backup only databases with ignore_database=0
  sp_AllNightLog.sql
Labels: bug, sp_AllNightLog

#2309 #2302 sp_Blitz numeric roundabort
  sp_Blitz.sql
Labels: bug, sp_Blitz

#2305 Show all parallel deadlocks
  sp_BlitzLock.sql
Labels: enhancement, sp_BlitzLock

#2310 #2307 uninstall case sensitive
  Uninstall.sql
Labels: bug

#2312 #2311 sp_BlitzFirst FilterPlansByDatabase
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2313 Invalid option for CheckID 1 of sp_Blitz
  sp_Blitz.sql
Labels: bug, sp_Blitz

#2318 #2317 sp_BlitzLock on Amazon RDS
  sp_BlitzLock.sql
Labels: sp_BlitzLock
