Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2020-12, with the labels that each got.

#2708 #2707 sp_BlitzFirst more files
  sp_BlitzFirst.sql
Labels: sp_BlitzFirst

#2711 Update sp_DatabaseRestore.sql
  sp_DatabaseRestore.sql
Labels: bug, sp_DatabaseRestore

#2706 Documentation updates
  Documentation/sp_BlitzCache_Checks_by_Priority.md
  Documentation/sp_BlitzFirst_Checks_by_Priority.md
  Documentation/sp_Blitz_Checks_by_Priority.md
  sp_BlitzFirst.sql
Labels: enhancement

#2704 #2702 ineachdb proc
  sp_ineachdb.sql
Labels: bug, sp_ineachdb

#2720 Update sp_ineachdb - we forgot an insert
  sp_ineachdb.sql
Labels: bug, sp_ineachdb

#2726 sp_BlitzIndex trivial typo (missing hyphen) in Drop_TSql output
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex
