Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2020-08, with the labels that each got.

#2500 2489 parallel blocked processes not showing a blocking session
  sp_BlitzWho.sql
Labels: bug, sp_BlitzWho

#2493 Implement @SkipChecksServer on sp_Blitz
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2501 #2496 sp_Blitz tweaking SkipChecksServer implementation
  README.md
  sp_Blitz.sql
Labels: sp_Blitz

#2499 Add @ShowAllMissingIndexRequests
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2473 Issue 2227- sp_BlitzIndex show datatypes on missing indexes
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#2503 2227 sp_BlitzIndex missing index data type tweaks
  sp_BlitzIndex.sql
Labels: sp_BlitzIndex

#2504 Drop table SqlServerVersions on uninstall
  Uninstall.sql
Labels: enhancement

#2508 Add support to treat distribution as system db
  sp_ineachdb.sql
Labels: enhancement, sp_ineachdb

#2510 #2509 sp_BlitzIndex remove "new"
  sp_BlitzIndex.sql
Labels: sp_BlitzIndex

#2515 sp_BlitzCache add plan_generation_num
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2516 #2513 sp_BlitzCache query_hash in default output
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2517 #2512 sp_BlitzIndex longer missing index datatypes
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2530 #2526 sp_Blitz skip validate logins on RDS
  sp_Blitz.sql
Labels: bug, sp_Blitz

#2545 Stop truncating columns
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2544 Add check (235) for inconsistent query store metadata
  Documentation/sp_Blitz_Checks_by_Priority.md
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2529 sp_BlitzCache remote
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2550 #2532 sp_BlitzCache many duplicate plans
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2551 #2548 sp_BlitzFirst nolock on stats query
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst
