Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2021-07, with the labels that each got.

#2942 #2941 - sp_BlitzFirst Addresses incorrect number of backups running for CheckID 1
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2940 Update sp_Blitz.sql change order in output table same as onscreen
  sp_Blitz.sql
Labels: bug, sp_Blitz

#2945 add target recovery interval check
  Documentation/sp_Blitz_Checks_by_Priority.md
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2947 #2946 sp_Blitz query store rtm check
  sp_Blitz.sql
Labels: bug, sp_Blitz

#2944 2887 sp blitz who add @get outer command to get contents of the inputbuffer per session
  sp_BlitzWho.sql
Labels: enhancement, sp_BlitzWho

#2924 Add thread time to wait stats views
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#2955 fix for issue 2954
  sp_BlitzIndex.sql
Labels: sp_BlitzIndex

#2953 sp_DatabaseRestore: fix trailing slash for root drives
  sp_DatabaseRestore.sql
Labels: bug, sp_DatabaseRestore

#2949 Fixed SkipChecks bug caused by collation mismatch
  sp_Blitz.sql
Labels: bug, sp_Blitz
