Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2021-03, with the labels that each got.

#2810 Update sp_BlitzAnalysis.sql
  sp_BlitzAnalysis.sql
Labels: sp_BlitzAnalysis

#2811 Updates sp_BlitzFirst - Solves #2738
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2814 Update sp_BlitzWho to amend BlitzWho_deltas view
  sp_BlitzWho.sql
Labels: bug, sp_BlitzWho

#2820 #2819 sp_BlitzFirst in Azure SQL DB
  sp_BlitzFirst.sql
Labels: Azure SQL DB, bug, sp_BlitzFirst

#2822 #2821 sp_BlitzFirst Azure waits
  sp_BlitzFirst.sql
Labels: Azure SQL DB, enhancement, sp_BlitzFirst

#2826 Add ignored databases
  sp_Blitz.sql
  sp_BlitzIndex.sql
Labels: enhancement, sp_Blitz, sp_BlitzIndex

#2825 Update sp_BlitzLock.sql
  sp_BlitzLock.sql
Labels: sp_BlitzLock

#2827 #2818 sp_Blitz remove checks 38 and 39
  Documentation/sp_Blitz_Checks_by_Priority.md
  sp_Blitz.sql
Labels: sp_Blitz

#2840 #2839 sp_DatabaseRestore smallint
  sp_DatabaseRestore.sql
Labels: bug, sp_DatabaseRestore

#2841 sp_Blitz: handle 8MB free
  sp_Blitz.sql
Labels: bug, sp_Blitz

#2838 Add a column for Parameters to BlitzWho
  sp_BlitzWho.sql
Labels: enhancement, sp_BlitzWho

#2843 Github #2823 - Truncate output to 32K when @OutputXMLasNVARCHAR = 1 is used so it parses nicely in Excel.
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst
