Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2021-04, with the labels that each got.

#2852 Changed sp_BlitzLock help text #2849
  sp_BlitzLock.sql
Labels: sp_BlitzLock

#2855 #2854 sp_Blitz service account
  sp_Blitz.sql
Labels: sp_Blitz

#2859 Fix USERSTORE_TOKENPERM calculation
  sp_Blitz.sql
Labels: bug

#2857 Fix for 2816
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2848 #2847 sp_BlitzCache: Fix negative CHARINDEX result when ) precedes ( in compile_time_value.
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2846 Add dates to sort order option
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#2861 More accurate missing index plans
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2862 #2842 sp_BlitzWho params to table
  sp_BlitzWho.sql
Labels: enhancement, sp_BlitzWho

#2866 Fix #2865
  sp_Blitz.sql
Labels: bug, sp_Blitz

#2871 #2870 sp_BlitzWho - Failing on case sensitive instances
  sp_BlitzWho.sql
Labels: bug, sp_BlitzWho

#2881 #2879 sp_BlitzFirst on RDS
  sp_Blitz.sql
Labels: bug, sp_Blitz

#2882 Remove cached_parameter_info from insert column list on SQL2008R2
  sp_BlitzWho.sql
Labels: bug, sp_BlitzWho
