Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2021-09, with the labels that each got.

#2965 Add unique constraint awareness
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#2967 Add optimize for sequential key
  Documentation/sp_BlitzIndex_Checks_by_Priority.md
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#2968 Add check for unindexed foreign keys
  Documentation/sp_BlitzIndex_Checks_by_Priority.md
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#2969 Fixing #2960
  sp_DatabaseRestore.sql
Labels: bug, sp_DatabaseRestore

#2972 Issue #2970 sp_BlitzWho - Add dm_exec_requests.wait_resource to report and output table
  Install-All-Scripts.sql
  Install-Core-Blitz-No-Query-Store.sql
  Install-Core-Blitz-With-Query-Store.sql
  sp_BlitzWho.sql
Labels: enhancement, sp_BlitzWho

#2987 #2970 sp_BlitzWho add column
  sp_BlitzWho.sql
Labels: sp_BlitzWho

#2978 Fix #2962
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2982 Issue #2981 Add "SET TRUSTWORTHY ON" option on SP_DATABASERESTORE
  sp_DatabaseRestore.sql
Labels: enhancement, sp_DatabaseRestore

#2984 Prevent DB non-default values msg for offline DBs
  sp_Blitz.sql
Labels: bug, sp_Blitz

#2986 Add 1204 to TF list
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2990 Use sysprocesses instead
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2993 Fix #2991
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex
