Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2021-06, with the labels that each got.

#2923 Fix #2922
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2925 #2921 sp_Blitz Instant File Initialization
  sp_Blitz.sql
Labels: bug, sp_Blitz

#2928 Update sp_BlitzIndex.sql
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2936 Fix #plan_usage definition
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2934 Fix @DaysUptime in sp_BlitzIndex for AzureDB
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex
