Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2021-05, with the labels that each got.

#2886 CPU HowToStopIt ordering
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2885 2876 - Incorrect timestamp in the HowToStopIt column
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2891 Update sp_BlitzCache.sql
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2908 2907 sp_BlitzWho lock timeout
  sp_BlitzWho.sql
Labels: bug, sp_BlitzWho

#2899 Update sp_databaseRestore to correctly get Diff File to skip log files correctly
  sp_DatabaseRestore.sql
Labels: bug, sp_DatabaseRestore

#2901 Fixes #2900
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2914 Fix error: Msg 102, Level 15, State 1, Procedure sp_BlitzWho, Line 1148 [Batch Start Line 3]
  sp_BlitzWho.sql
Labels: bug, sp_BlitzWho

#2918 Turn off plans in procs
  sp_AllNightLog.sql
  sp_AllNightLog_Setup.sql
  sp_Blitz.sql
  sp_BlitzAnalysis.sql
  sp_BlitzBackups.sql
  sp_BlitzCache.sql
  sp_BlitzFirst.sql
  sp_BlitzInMemoryOLTP.sql
  sp_BlitzIndex.sql
  sp_BlitzLock.sql
  sp_BlitzQueryStore.sql
  sp_BlitzWho.sql
  sp_DatabaseRestore.sql
  sp_ineachdb.sql
Labels: enhancement

#2912 Removed dependency on schedules for evaluating jobs w/o failure emails
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2917 Add bigint conversion to sums
  sp_BlitzLock.sql
Labels: bug, sp_BlitzLock

#2910 Issue 2909
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#2864 #2860 Add partition ranges to columnstore visualization
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#2884 Update sp_BlitzIndex.sql
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex
