Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2021-02, with the labels that each got.

#2777 Check for >20% runnable queries
  Documentation/sp_BlitzFirst_Checks_by_Priority.md
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#2778 #2775 sp_AllNightLog rpo/rto
  sp_AllNightLog.sql
Labels: bug, sp_AllNightLog

#2784 #2779 sp_Blitz CHECKDB
  sp_Blitz.sql
Labels: sp_Blitz

#2788 added comments around xp_cmdshell since some firewalls block this string
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2789 #2786 sp_Blitz typo
  sp_Blitz.sql
Labels: bug, sp_Blitz

#2791 #2790 sp_ineachdb Azure SQL DB compat
  sp_ineachdb.sql
Labels: Azure SQL DB, sp_ineachdb

#2792 Added PlanGenerationNum to output for @expertmode=0
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#2793 sp_BlitzFirst compilations threshold
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst
