Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2021-01, with the labels that each got.

#2740 2739 sp blitz first add running check id messages when @debug = 1
  sp_BlitzFirst.sql
Labels: enhancement

#2733 Update sp_BlitzFirst check 46 wording for #2732
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2730 Fix issue reported in #2721 - 2nd case in COALESCE
  sp_BlitzWho.sql
Labels: bug, sp_BlitzWho

#2735 Encode column names for XML
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#2741 #2737 sp_ineachdb case sensitivity
  sp_ineachdb.sql
Labels: bug, sp_ineachdb

#2745 #2742 sp_BlitzFirst forwarded fetches
  sp_BlitzFirst.sql
Labels: enhancement, sp_BlitzFirst

#2746 #2743 sp_BlitzFirst forwarded fetch accounting
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#2752 sp_Blitz - Offline databases show up in auto-shrink and page verification checks #2750
  sp_Blitz.sql
Labels: bug, sp_Blitz

#2751 sp_BlitzLock: Add error check for update stats on temp table, skip if fails
  sp_BlitzLock.sql
Labels: enhancement, sp_BlitzLock

#2747 Update sp_ineachdb.sql
  sp_ineachdb.sql
Labels: bug, sp_ineachdb

#2748 Update sp_ineachdb.sql
  sp_ineachdb.sql
Labels: bug, sp_ineachdb

#2754 #2753 sp_ineachdb add go
  sp_ineachdb.sql
Labels: bug, sp_ineachdb

#2763 #2762 sp_BlitzIndex sort dupes
  sp_BlitzIndex.sql
Labels: sp_BlitzIndex

#2767 #2766 sp_Blitz trace flags
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#2769 #2768 sp_BlitzIndex: sort aggressive indexes
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#2771 #2770 sp_BlitzFirst compilations threshold
  sp_BlitzFirst.sql
Labels: sp_BlitzFirst

#2773 #2772 sp_BlitzCache recent compilations
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache
