Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2022-06, with the labels that each got.

#3102 Adding spid and wait_resource to query results and to output table.
  sp_BlitzLock.sql
Labels: sp_BlitzLock

#3107 #3101 sp_BlitzLock add columns
  sp_BlitzLock.sql
Labels: enhancement, sp_BlitzLock

#3095 sp_DatabaseRestore - add check for CommandExec in current database fix
  sp_DatabaseRestore.sql
Labels: bug, sp_DatabaseRestore

#3108 #3100 sp_DatabaseRestore BackUpFile typo
  sp_DatabaseRestore.sql
Labels: bug, sp_DatabaseRestore

#3109 #3085 sp_BlitzIndex too many missing indexes
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex
