Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2022-01, with the labels that each got.

#3033 Adding code in sp_blitz to show cluster node information.
  sp_Blitz.sql
Labels: enhancement, sp_Blitz

#3034 Ola Hallengren scripts must be installed in the same database as Firs…
  README.md
  sp_AllNightLog.sql
  sp_AllNightLog_Setup.sql
Labels: enhancement, sp_AllNightLog

#3047 feat: Enable configuration item to allow data/log files to be moved …
  sp_AllNightLog.sql
  sp_AllNightLog_Setup.sql
Labels: enhancement, sp_AllNightLog

#3049 Changed the way the @StopAt param is used.
  sp_DatabaseRestore.sql
Labels: enhancement, sp_AllNightLog

#3050 sp_Blitz: Suppress message if registry key not found
  sp_Blitz.sql
Labels: bug, sp_Blitz

#3054 Add `total_forwarded_fetch_count` to output table of sp_BlitzIndex
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#3062 sp_DatabaseRestore: Fix backup file selection for @StopAt and non-split diff backups
  sp_DatabaseRestore.sql
Labels: bug, sp_DatabaseRestore

#3065 #3063 sp_Blitz Arithmetic Overflow Error Check 158
  sp_Blitz.sql
Labels: bug, sp_Blitz
