Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2022-12, with the labels that each got.

#3162 sp_BlitzIndex statistics queries missing QUOTENAME in USE
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#3169 Fix date conversion, so it works in all languages
  sp_Blitz.sql
Labels: bug, sp_Blitz

#3165 Switch to TRY_CAST
  sp_BlitzQueryStore.sql
Labels: bug, sp_BlitzQueryStore

#3185 Update check for managed instances
  sp_BlitzFirst.sql
Labels: sp_BlitzFirst, Azure SQL DB

#3158 Implemented output support for remaining modes in sp_blitzIndex
  sp_BlitzIndex.sql
Labels: enhancement, sp_BlitzIndex

#3191 #3190 sp_DatabaseRestore SQL Server 2022
  sp_DatabaseRestore.sql
Labels: sp_DatabaseRestore

#3177 Update sp_DatabaseRestore.sql
  sp_DatabaseRestore.sql
Labels: sp_DatabaseRestore

#3179 sp_BlitLock Facelift
  sp_BlitzLock.sql
Labels: bug, enhancement, sp_BlitzLock

#3188 sp_AllNightLog - Exclude existing databases if they are not in a restoring or standby state
  sp_AllNightLog.sql
Labels: sp_AllNightLog

#3176 Add SQL 2022 RTM PSPO parsing
  sp_BlitzCache.sql
Labels: enhancement, sp_BlitzCache

#3192 #3189 sp_BlitzIndex hide tombstones
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#3193 #3160 sp_BlitzCache unused grant save
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#3204 Update sp_BlitzLock.sql
  sp_BlitzLock.sql
Labels: bug, sp_BlitzLock
