Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2023-04, with the labels that each got.

#3247 sp_BlitzWho checking for 1900
  sp_BlitzWho.sql
Labels: sp_BlitzWho

#3240 Added @FileExtensionDiff param. Fixes #3234.
  sp_DatabaseRestore.sql
Labels: enhancement, sp_DatabaseRestore

#3254 #3253 sp_BlitzFirst estimation filter
  sp_BlitzFirst.sql
Labels: sp_BlitzFirst

#3256 #3255 BlitzFirst optional output sets
  sp_BlitzFirst.sql
Labels: sp_BlitzFirst
