Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2023-12, with the labels that each got.

#3407 #3406 Fixed the Substring command to respect the command syntax
  sp_BlitzCache.sql
  sp_BlitzIndex.sql
Labels: bug

#3403 #3401 sp_Blitz: Improve Markdown output alias and spacing
  sp_Blitz.sql
Labels: sp_Blitz

#3397 Fix date math and improve MI compatibility
  sp_BlitzLock.sql
Labels: bug, enhancement, sp_BlitzLock

#3378 #3376 Added Informational message about skipping checks
  sp_Blitz.sql
Labels: sp_Blitz

#3379 #3377 Moved the xp_regread calls back to the check and add some messages to the user
  sp_Blitz.sql
Labels: bug, sp_Blitz

#3380 #3377 Expanded msdb permission checks
  sp_Blitz.sql
Labels: sp_Blitz

#3408 #3399 modified sp_ineachdb to generate scripts only for writable databases in an AG
  sp_ineachdb.sql
Labels: sp_ineachdb

#3415 sp_BlitzIndex bug: Extra junk output from columnstore visualisation
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#3416 #3402 sp_Blitz AG duplicate rows
  sp_Blitz.sql
Labels: bug, sp_Blitz
