Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2023-08, with the labels that each got.

#3315 Omit Resource DB from duplicate query plan checks
  sp_BlitzCache.sql
Labels: sp_BlitzCache

#3308 Issues 3305, 3306, 3307, 3311
  sp_BlitzLock.sql
Labels: enhancement, sp_BlitzLock

#3317 #3314 sp_BlitzCache high percentage of duplicate plans
  sp_BlitzCache.sql
Labels: bug, sp_BlitzCache

#3300 Add some permissions checks to sp_Blitz
  sp_Blitz.sql
Labels: help wanted, sp_Blitz

#3321 Fixing output message to show correct parameter
  sp_DatabaseRestore.sql
Labels: sp_DatabaseRestore
