Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2023-10, with the labels that each got.

#3371 #3370 Division by zero in check 20
  sp_BlitzFirst.sql
Labels: bug, sp_BlitzFirst

#3365 Update sp_BlitzLock.sql
  sp_BlitzLock.sql
Labels: enhancement, sp_BlitzLock

#3374 sp_Blitz power savings
  Install-All-Scripts.sql
  Install-Core-Blitz-No-Query-Store.sql
  Install-Core-Blitz-With-Query-Store.sql
  sp_Blitz.sql
Labels: bug, sp_Blitz

#3383 Add missing drop if exists statements for temp tables
  sp_BlitzIndex.sql
Labels: sp_BlitzIndex
