Repository BrentOzarULTD/SQL-Server-First-Responder-Kit, pull requests merged in 2024-04, with the labels that each got.

#3489 #3488 sp_BlitzFirst garbage collection
  sp_BlitzFirst.sql
Labels: sp_BlitzFirst

#3493 #3492 sp_BlitzFirst hide plan cache
  sp_BlitzFirst.sql
Labels: sp_BlitzFirst

#3484 sp_BlitzFirst.sql: Updated URL for Slow Data File Reads - Bug #3483
  sp_BlitzFirst.sql
Labels: sp_BlitzFirst

#3495 #3452 sp_BlitzIndex 2014 compat
  sp_BlitzIndex.sql
Labels: bug, sp_BlitzIndex

#3496 #3481 sp_Blitz security docs
  Documentation/sp_Blitz_Checks_by_Priority.md
  sp_Blitz.sql
Labels: sp_Blitz

#3505 #3504 sp_BlitzFirst Azure SQL DB
  sp_BlitzFirst.sql
Labels: sp_BlitzFirst, Azure SQL DB
